Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

From refarch-template: Maintenance: Upgrade to Camel 4.14.0 #1201
  ehrenamt-justiz-eai/pom.xml
  ehrenamt-justiz-eai/src/main/resources/application-docker.yml
  ehrenamt-justiz-eai/src/main/resources/application-env-local.yml
  ehrenamt-justiz-eai/src/main/resources/application.yml
  ehrenamt-justiz-eai/src/test/resources/application-integrationstest.yml
Labels: Ehrenamt-Justiz: EAI

eai is now passed through the gateway and no longer called directly.
  ehrenamt-justiz-backend/src/main/resources/application-docker.yml
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Backend

eai is now passed through the gateway and no longer called directly.
  stack/docker-compose.yml
Labels: none

improve code (if values are undefined)
  ehrenamt-justiz-frontend/src/api/EntityApiService.ts
  ehrenamt-justiz-frontend/src/api/PersonApiService.ts
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

improve code (if values are undefined)
  ehrenamt-justiz-frontend/src/api/EntityApiService.ts
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

@intlify/unplugin-vue-i18n von 6 to v11
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

online: url production to gateway is now ""
  ehrenamt-justiz-online/.env.development
  ehrenamt-justiz-online/.env.production
Labels: Ehrenamt-Justiz: Online

improve status of eai: check status eai (/actuator/health) now only called by basepathprefix (/public/eai) and not complete basepath (/public/eai/api/personeninfo)!
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/impl/EWOServiceImpl.java
  ehrenamt-justiz-backend/src/main/resources/application.yml
Labels: Ehrenamt-Justiz: Backend

new status of aenderungsserver in main app
  ehrenamt-justiz-aenderungsservice/README.md
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/AenderungsService.java
  ehrenamt-justiz-aenderungsservice/src/main/resources/application.yml
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/SecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/AenderungsServiceRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/EhrenamtJustizRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/EWOService.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/impl/EWOServiceImpl.java
  ehrenamt-justiz-backend/src/main/resources/application.yml
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EWOBuergerApiService.ts
  ehrenamt-justiz-frontend/src/locales/de.json
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Aenderungsservice

remove pr-checklist.yml (from refarch)
  .github/workflows/pr-checklist.yml
Labels: none

from refarch: 1207-feature-change-pmd-to-only-report-errors-for-production-code #1208
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-api/pom.xml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

Coderabit: new Junit-test for backend and aenderungsservice
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/AenderungsServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/AenderungsServiceRestControllerTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/EhrenamtJustizRestControllerTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EWOServiceTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

Coderabit: new Junit-test for backend and aenderungsservice
  ehrenamt-justiz-frontend/tests/unit/EWOBuergerApiService.spec.ts
Labels: Ehrenamt-Justiz: Frontend

From refarch program code updated
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

From refarch program code updated
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

Updated spotless configuration as in ref arch
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-api/pom.xml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

- click outside of active dialog: exit dialog - only numeric value allowed for age in configuration - labels for rules now i18n - Yes-No-Dialog: i18n
  ehrenamt-justiz-frontend/src/components/common/DeleteDialog.vue
  ehrenamt-justiz-frontend/src/components/common/YesNoDialog.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationForm.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/composables/rules.ts
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

- click outside of active dialog: exit dialog - only numeric value allowed for age in configuration - labels for rules now i18n - Yes-No-Dialog: i18n
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

- click outside of active dialog: exit dialog - only numeric value allowed for age in configuration - labels for rules now i18n - Yes-No-Dialog: i18n
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.3
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.3
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.3
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.3
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.3
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Add files via upload
  docs/images/MavenRelease.png
  docs/images/NpmRelease.png
Labels: none

Add files via upload
  docs/images/ApiRelease.png
Labels: none

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  .github/README.md
Labels: none

Reademe.md for building release
  .github/README.md
Labels: none

Reademe.md for building release
  .github/README.md
Labels: none

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']
