Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

junit test adapted: aenderungsServicePerson now returns the conflicts so that they can be queried in the junit test
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/AenderungsService.java
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/AenderungsServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

junit test adapted: aenderungsServicePerson now returns the conflicts so that they can be queried in the junit test
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test adapted: aenderungsServicePerson now returns the conflicts so that they can be queried in the junit test
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test adapted: aenderungsServicePerson now returns the conflicts so that they can be queried in the junit test
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test adapted: aenderungsServicePerson now returns the conflicts so that they can be queried in the junit test
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test adapted: aenderungsServicePerson now returns the conflicts so that they can be queried in the junit test
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test revised with builder for test data
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/UnicodeConfigurationTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/domain/KonfigurationTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/domain/PersonTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/EhrenamtJustizIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/KonfigurationIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/PersonIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EWOServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EhrenamtJustizServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/testdata/KonfigurationTestDataBuilder.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/testdata/PersonTestDataBuilder.java
Labels: Ehrenamt-Justiz: Backend

junit test revised with builder for test data
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EWOServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EhrenamtJustizServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/testdata/PersonTestDataBuilder.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/utils/Helper.java
Labels: Ehrenamt-Justiz: Backend

junit test revised with builder for test data
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/domain/PersonTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/EhrenamtJustizIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/PersonIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test revised with builder for test data
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/EhrenamtJustizIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/PersonIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test revised with builder for test data
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend

junit test revised with builder for test data
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/testdata/PersonTestDataBuilder.java
Labels: Ehrenamt-Justiz: Backend

traced from refarch template: spring properties metadata generation #1065
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

Added online help
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/tools/Helper.ts
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/eslint.config.js
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/plugins/i18n.ts
  ehrenamt-justiz-frontend/src/plugins/index.ts
  ehrenamt-justiz-frontend/src/plugins/vuetify.ts
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
  ehrenamt-justiz-frontend/tests/unit/example.spec.ts
  ehrenamt-justiz-frontend/tsconfig.app.json
  ehrenamt-justiz-frontend/vite.config.ts
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
  ehrenamt-justiz-frontend/tests/unit/example.spec.ts
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/common/DeleteDialog.vue
  ehrenamt-justiz-frontend/src/components/common/ListItemActions.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationList.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/common/DeleteDialog.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationList.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/common/DeleteDialog.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/common/DeleteDialog.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationList.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

Update package-lock.json
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerSelect.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerSelect.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerSelect.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerSelect.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/InvalidePersonenSelect.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/utils/EhrenamtJustizUtility.java
  ehrenamt-justiz-frontend/src/Constants.ts
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/views/konflikte/KonfliktLoesenEdit.vue
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/tools/Helper.ts
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/eslint.config.js
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/eslint.config.js
Labels: Ehrenamt-Justiz: Frontend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']
