Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

profile local: improved generating testdata
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  ehrenamt-justiz-backend/src/main/resources/db/migration/testdata/R__Testdata.sql
Labels: Ehrenamt-Justiz: Backend

Delete docs/images/EJ_05_BewerbungBearbeitenAusEWO.PNG
  docs/images/EJ_05_BewerbungBearbeitenAusEWO.PNG
Labels: none

Add files via upload
  docs/images/EJ_05_BewerbungBearbeitenAusEWO.PNG
Labels: none

profile local: improved generating testdata
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
Labels: Ehrenamt-Justiz: Backend

modify application-test.yml in backend from refarch
  ehrenamt-justiz-backend/src/test/resources/application-test.yml
Labels: Ehrenamt-Justiz: Backend

SPRING_CLOUD_GATEWAY_ROUTES --> SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES
  stack/docker-compose.yml
Labels: none

increment version of spring-boot-starter-parent: <artifactId>spring-boot-starter-parent</artifactId> <version>3.4.7</version>
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.1
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.1
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.1
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.1
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.1
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

Latest-version in cocker-compose.yml for backend, eai, aenderungsservice, frontend and online
  stack/docker-compose.yml
Labels: none

Latest-version in cocker-compose.yml for backend, eai, aenderungsservice, frontend and online
  stack/docker-compose.yml
Labels: none

Latest-version in cocker-compose.yml for backend, eai, aenderungsservice, frontend and online
  stack/docker-compose.yml
Labels: none

Latest-version in cocker-compose.yml for backend, eai, aenderungsservice, frontend and online
  stack/docker-compose.yml
Labels: none

KonflikteLoesenForm.vue modified
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

Delete docs/images/KonflikteBearbeiten.PNG
  docs/images/KonflikteBearbeiten.PNG
Labels: none

Add files via upload
  docs/images/KonflikteBearbeiten.PNG
Labels: none

Delete docs/images/EJ_09_KonflikteLoesen.PNG
  docs/images/EJ_09_KonflikteLoesen.PNG
Labels: none

Add files via upload
  docs/images/EJ_09_KonflikteLoesen.PNG
Labels: none

KonflikteLoesenForm.vue improved
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

KonflikteLoesenForm.vue improved
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

KonflikteLoesenForm.vue improved
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

KonflikteLoesenForm.vue improved
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

KonflikteLoesenForm.vue improved
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

No wildcard - import
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/AenderungsServiceTest.java
  ehrenamt-justiz-api/pom.xml
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/api/BuergerSucheAnfrage.java
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/api/EWOBuerger.java
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/common/BaseEntity.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/SecurityProperties.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/Konfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/Person.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/EWOBuergerSucheDto.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/EhrenamtJustizStatusDto.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/PersonCSVDto.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/PersonenTableDatenDto.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/EhrenamtJustizRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/KonfigurationRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/OnlineBewerbungRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/PersonRestController.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/EnumTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/domain/PersonTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/EhrenamtJustizIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/KonfigurationIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/PersonIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EWOServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EhrenamtJustizServiceTest.java
  ehrenamt-justiz-eai/pom.xml
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/bean/MappingBean.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/converter/AbstractWohnungTypeconverter.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/converter/XMLGregorianCalendarConverter.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/exception/FehlerWrapperTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update runLocal.sh
  ehrenamt-justiz-eai/runLocal.sh
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Update README.md
  stack/README.md
Labels: none
