Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

From RefArch: feat(backend): keycloak permissions authorities#1158
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
Labels: Ehrenamt-Justiz: Backend

From RefArch: feat(backend): keycloak permissions authorities#1158
  stack/docker-compose.yml
Labels: none

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.7
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.7
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.7
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.7
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.7
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

From RefArch: chore(deps): update dpage/pgadmin4 docker tag to v9.11.0 #1255
  .gitignore
  stack/docker-compose.yml
  stack/pgadmin/data/info.txt
  stack/pgadmin/preferences.json
  stack/pgadmin/servers.json
Labels: none

From Refarch: file based routing with router 5
  .gitignore
  ehrenamt-justiz-frontend/.prettierignore
  ehrenamt-justiz-frontend/eslint.config.js
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/Constants.ts
  ehrenamt-justiz-frontend/src/api/AuthService.ts
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/plugins/router.ts
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungenindex.vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/EWOBuergerSelect.vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergercreate.vue
  ehrenamt-justiz-frontend/src/routes/getstarted.vue
  ehrenamt-justiz-frontend/src/routes/index.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationindex.vue
  ehrenamt-justiz-frontend/src/routes/konflikte/KonfliktLoesenEdit.vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konflikteindex.vue
  ehrenamt-justiz-frontend/src/routes/vorschlaege/InvalidePersonenSelect.vue
  ehrenamt-justiz-frontend/src/routes/vorschlaege/vorschlaegeindex.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/tsconfig.app.json
  ehrenamt-justiz-frontend/vite.config.ts
Labels: Ehrenamt-Justiz: Frontend

From Refarch: Refactored App component into dedicated components
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
  ehrenamt-justiz-frontend/src/components/TheNavigationDrawer.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: Refactored App component into dedicated components
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
  ehrenamt-justiz-frontend/src/components/TheNavigationDrawer.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: Refactored App component into dedicated components
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
  ehrenamt-justiz-frontend/src/components/TheNavigationDrawer.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: Refactored App component into dedicated components
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: Refactored App component into dedicated components
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: file based routing
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergercreate.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/KonfigurationEdit.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: file based routing
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/TheNavigationDrawer.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: file based routing
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id].vue
Labels: Ehrenamt-Justiz: Frontend

node 24
  .github/workflows/deploy-docs.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/npm-release.yml
  docs/package-lock.json
  docs/package.json
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

Remove 'peer' property from dependencies
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

Remove 'peer' property from dependencies
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Online

from Refarch: update dependency org.apache.camel.springboot:camel-spring-boot-dependencies to v4.18.0 #1431
  ehrenamt-justiz-api/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

removed '@ts-expect-error' directive
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

cxf 4.2.0: use cxf-bom
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

from RefArch: snackbar with queue
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/Constants.ts
  ehrenamt-justiz-frontend/src/api/AuthService.ts
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
  ehrenamt-justiz-frontend/src/components/TheSnackbar.vue
  ehrenamt-justiz-frontend/src/components/TheSnackbarQueue.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationList.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/stores/snackbar.ts
  ehrenamt-justiz-frontend/src/views/GetStartedView.vue
  ehrenamt-justiz-frontend/src/views/HomeView.vue
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungEdit.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonfliktLoesenEdit.vue
  ehrenamt-justiz-frontend/tests/unit/example.spec.ts
Labels: Ehrenamt-Justiz: Frontend

from RefArch: snackbar with queue
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: snackbar with queue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: snackbar with queue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationCreate.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: snackbar with queue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: set Java version for workflows #1430
  .github/workflows/api-release.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.8
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.8
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.8
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.8
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.8
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online
