Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/Dockerfile
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/Dockerfile
  ehrenamt-justiz-online/docker/nginx/default.conf
  ehrenamt-justiz-online/docker/nginx/tryfiles.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/tryfiles.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/tryfiles.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/tryfiles.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/Dockerfile
  ehrenamt-justiz-online/docker/nginx/tryfiles.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/Dockerfile
  ehrenamt-justiz-online/docker/nginx/files.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/files.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/server.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/server.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/server.conf
Labels: Ehrenamt-Justiz: Online

move <link href="https://assets.muenchen.de/mde/1.0.10/css/fonts.css" rel="stylesheet" /> to App.vue
  ehrenamt-justiz-online/index.html
  ehrenamt-justiz-online/src/App.vue
Labels: Ehrenamt-Justiz: Online

move <link href="https://assets.muenchen.de/mde/1.0.10/css/fonts.css" rel="stylesheet" /> to App.vue
  ehrenamt-justiz-online/index.html
  ehrenamt-justiz-online/src/App.vue
Labels: Ehrenamt-Justiz: Online

server.conf for import in default.conf (nginx): location now /public/online
  ehrenamt-justiz-online/docker/nginx/server.conf
Labels: Ehrenamt-Justiz: Online

server.conf for import in default.conf (nginx): location /public/online --> http 301 location ^~ /public/online/ --> ok
  ehrenamt-justiz-online/docker/nginx/server.conf
Labels: Ehrenamt-Justiz: Online

server.conf for import in default.conf (nginx): location /public/online --> http 301 location ^~ /public/online/ --> ok
  ehrenamt-justiz-online/docker/nginx/server.conf
Labels: Ehrenamt-Justiz: Online

unnecessary items removed from checklist
  .github/pull_request_template.md
Labels: none

- set max in muc-input - v-form with "class="m-form m-form--default"
  ehrenamt-justiz-online/src/views/MainView.vue
Labels: Ehrenamt-Justiz: Online

- muc-input: if required is false: label suffix ist 'optional'
  ehrenamt-justiz-online/src/views/MainView.vue
Labels: Ehrenamt-Justiz: Online

Add files via upload
  docs/images/OnlineBewerbungSchoeffen.PNG
Labels: none

- remove: gzip on; gzip_types text/css application/javascript; expires 1h; because it already exist in compression.conf
  ehrenamt-justiz-online/docker/nginx/server.conf
Labels: Ehrenamt-Justiz: Online

Create README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Update README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

- remove: gzip on; gzip_types text/css application/javascript; expires 1h; because it already exist in compression.conf
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Add files via upload
  docs/images/SystemOverviewChangeServiceEnglish.PNG
Labels: none

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

from refarch-template: Added CycloneDX SBOM configuration #1027
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application.yml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/SecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/resources/application.yml
  ehrenamt-justiz-eai/pom.xml
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/config/SecurityConfig.java
  ehrenamt-justiz-eai/src/main/resources/application.yml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

from refarch-template: Added CycloneDX SBOM configuration #1027
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/SecurityConfiguration.java
Labels: Ehrenamt-Justiz: Aenderungsservice

from refarch-template: Added CycloneDX SBOM configuration #1027
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/SecurityConfiguration.java
Labels: Ehrenamt-Justiz: Aenderungsservice

from refarch-template: Feature: Add SBOM generation to Node projects #1028
  ehrenamt-justiz-frontend/docker/nginx/sbom.conf
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/docker/nginx/sbom.conf
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch-template: Feature: Add SBOM generation to Node projects #1028
  ehrenamt-justiz-online/docker/nginx/sbom.conf
Labels: Ehrenamt-Justiz: Online

from refarch-template: added permission to create labels #1030
  .github/workflows/pr-labeler.yml
Labels: none

- diabled removed if already defined - label improved
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
Labels: Ehrenamt-Justiz: Frontend

pom.xml: - new developers - scm: new url - execution for cyclonedx
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']
