Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Create README.md
  stack/README.md
Labels: none

Update README.md
  stack/README.md
Labels: none

docker-compose.yml: stackname now ehrenamtjustiz
  stack/docker-compose.yml
Labels: none

frontend: - onload: display drawer at once - reduce delay when displaying snackbar - router: improvement for path with multiple parameter
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/TheSnackbar.vue
  ehrenamt-justiz-frontend/src/plugins/router.ts
Labels: Ehrenamt-Justiz: Frontend

frontend: - onload: display drawer at once - reduce delay when displaying snackbar - router: improvement for path with multiple parameter - display router-view not until user and config are loaded
  ehrenamt-justiz-frontend/src/App.vue
Labels: Ehrenamt-Justiz: Frontend

frontend: - onload: display drawer at once - reduce delay when displaying snackbar - router: improvement for path with multiple parameter - display router-view not until user and config are loaded
  ehrenamt-justiz-frontend/src/App.vue
Labels: Ehrenamt-Justiz: Frontend

Add files via upload
  docs/images/EJ_03_01_BewerbungErstellenInvalideDatensaetze.PNG
Labels: none

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

frontend: - onload: display drawer at once - reduce delay when displaying snackbar - router: improvement for path with multiple parameter - display router-view not until user and config are loaded
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/stores/globalsettings.ts
Labels: Ehrenamt-Justiz: Frontend

security problems in code removed
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/utils/EWOBuergerComparer.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/RestPageImpl.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/bean/MappingBean.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/config/Configuration.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/config/UserDetailsServiceImpl.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/filter/RequestResponseLoggingFilter.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/route/ReplaceOldBodyStrategy.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/util/CountryCode.java
  ehrenamt-justiz-eai/src/main/resources/application-docker.yml
  ehrenamt-justiz-eai/src/main/resources/application-env-local.yml
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/IntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

security problems in code removed
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/config/Configuration.java
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: EAI

Update README.md
  .github/README.md
Labels: none

security problems in code removed
  ehrenamt-justiz-eai/src/main/resources/application-docker.yml
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

soap-ui in EAI: - extend README.md in EAI - remove requests to old CAP - modify url for docker
  docs/images/SoapUI_ewosuche_docker.PNG
  docs/images/SoapUI_ewosuchemitom_docker.PNG
  ehrenamt-justiz-eai/README.md
  ehrenamt-justiz-eai/src/test/resources/ehrenamt-justiz-soapui-project.xml
Labels: Ehrenamt-Justiz: EAI

soap-ui in EAI: - extend README.md in EAI - remove requests to old CAP - modify url for docker
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

backend: RestPageImpl: unused property removed
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/RestPageImpl.java
Labels: Ehrenamt-Justiz: Backend

Solving conflicts: - after the EWO-EAI could not determine any personal data - button "Alle Übernehmen" is only active when all data has been loaded
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonfliktLoesenEdit.vue
Labels: Ehrenamt-Justiz: Frontend

Solving conflicts: - after the EWO-EAI could not determine any personal data - button "Alle Übernehmen" is only active when all data has been loaded
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Add files via upload
  docs/images/AktiveKonfigurationAnlegen.PNG
Labels: none

Add files via upload
  KonfigurationAktivieren.PNG
Labels: none

Delete KonfigurationAktivieren.PNG
  KonfigurationAktivieren.PNG
Labels: none

Add files via upload
  docs/images/KonfigurationAktivieren.PNG
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

tracing program code of refarch: Update nginx to ubi10 #1063
  ehrenamt-justiz-frontend/Dockerfile
  ehrenamt-justiz-online/Dockerfile
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

tracing program code of refarch: Downgraded Camel to 4.10.5, upgraded Spring to 3.4.6 #1068
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

junit test adapted: aenderungsServicePerson now returns the conflicts so that they can be queried in the junit test
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/AenderungsService.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/AenderungsServiceRestController.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']
