Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

new logging for Spring 3.4 and Align pom references to use quotes #1137
  ehrenamt-justiz-aenderungsservice/README.md
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-local.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/banner.txt
  ehrenamt-justiz-aenderungsservice/src/main/resources/logback-spring.xml
  ehrenamt-justiz-aenderungsservice/src/test/resources/application-test.yml
  ehrenamt-justiz-backend/README.md
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/resources/application-docker.yml
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  ehrenamt-justiz-backend/src/main/resources/application.yml
  ehrenamt-justiz-backend/src/main/resources/banner.txt
  ehrenamt-justiz-backend/src/main/resources/logback-spring.xml
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/LogbackJsonLoggingConfigurationTest.java
  ehrenamt-justiz-backend/src/test/resources/application-test.yml
  ehrenamt-justiz-eai/README.md
  ehrenamt-justiz-eai/pom.xml
  ehrenamt-justiz-eai/src/main/resources/application-docker.yml
  ehrenamt-justiz-eai/src/main/resources/application-env-local.yml
  ehrenamt-justiz-eai/src/main/resources/application.yml
  ehrenamt-justiz-eai/src/main/resources/banner.txt
  ehrenamt-justiz-eai/src/main/resources/logback-spring.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

new logging for Spring 3.4 and Align pom references to use quotes #1137
  ehrenamt-justiz-aenderungsservice/README.md
  ehrenamt-justiz-backend/README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

new logging for Spring 3.4 and Align pom references to use quotes #1137
  ehrenamt-justiz-aenderungsservice/README.md
  ehrenamt-justiz-backend/README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

new logging for Spring 3.4 and Align pom references to use quotes #1137
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

new logging for Spring 3.4 and Align pom references to use quotes #1137
  ehrenamt-justiz-aenderungsservice/README.md
  ehrenamt-justiz-backend/README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

set configuration active with confirmation dialog
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

set configuration active with confirmation dialog
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
Labels: Ehrenamt-Justiz: Frontend

set configuration active with confirmation dialog
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

From refarch: Leverage Spring Boot 3.5 features #1139
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/CacheControlFilter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/CacheControlFilterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/ForwardedHeaderFilterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/RequestResponseLoggingFilter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/UnicodeFilterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcRequest.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcRequestFilter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/SecurityProperties.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/CacheControlFilterTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Ehrenamt-Justiz: Backend

Improved logging in the backend
  ehrenamt-justiz-backend/src/main/resources/application-docker.yml
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
Labels: Ehrenamt-Justiz: Backend

vite-plugin-vue-devtools now version 8.0.0
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

Form Konflikt improved
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

Form Konflikt improved
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
Labels: Ehrenamt-Justiz: Frontend

Form Konflikt improved
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
Labels: Ehrenamt-Justiz: Frontend

Delete docs/images/EJ_09_KonflikteLoesen.PNG
  docs/images/EJ_09_KonflikteLoesen.PNG
Labels: none

Add files via upload
  docs/images/EJ_09_KonflikteLoesen.jpg
Labels: none

Delete docs/images/KonflikteBearbeiten.PNG
  docs/images/KonflikteBearbeiten.PNG
Labels: none

Add files via upload
  docs/images/KonflikteBearbeiten.PNG
Labels: none

Delete docs/images/EJ_09_KonflikteLoesen.jpg
  docs/images/EJ_09_KonflikteLoesen.jpg
Labels: none

Add files via upload
  docs/images/EJ_09_KonflikteLoesen.PNG
Labels: none

Upgrade lockfile due to deep dep incompatibilities
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.2
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.2
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.2
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.2
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.2
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

EAI wird jetzt mit /api/personeninfo anstatt mit /personeninfo/api aufgerufen
  ehrenamt-justiz-backend/src/main/resources/application.yml
  ehrenamt-justiz-eai/src/main/resources/application.yml
  ehrenamt-justiz-eai/src/test/resources/ehrenamt-justiz-soapui-project.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

Get URL of Gateway in Frontend from environment variable
  ehrenamt-justiz-frontend/.env.production
  ehrenamt-justiz-frontend/src/Constants.ts
Labels: Ehrenamt-Justiz: Frontend

Get URL of Gateway in Frontend from environment variable
  ehrenamt-justiz-frontend/src/Constants.ts
Labels: Ehrenamt-Justiz: Frontend

Get URL of Gateway in Frontend from environment variable
  ehrenamt-justiz-frontend/src/Constants.ts
Labels: Ehrenamt-Justiz: Frontend

Get URL of Gateway in Frontend from environment variable
  ehrenamt-justiz-frontend/src/Constants.ts
Labels: Ehrenamt-Justiz: Frontend

Get URL of Gateway in Frontend from environment variable
  ehrenamt-justiz-frontend/.env
Labels: Ehrenamt-Justiz: Frontend

Get URL of Gateway in Frontend from environment variable
  ehrenamt-justiz-frontend/src/Constants.ts
Labels: Ehrenamt-Justiz: Frontend

Get URL of Gateway in Frontend from environment variable
  ehrenamt-justiz-backend/src/main/resources/application.yml
  ehrenamt-justiz-frontend/.env
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Frontend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']
