Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

introduce i18n
  ehrenamt-justiz-frontend/eslint.config.js
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/views/bewerbungen/BewerbungenIndex.vue
  ehrenamt-justiz-frontend/src/views/konflikte/KonflikteIndex.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/InvalidePersonenSelect.vue
  ehrenamt-justiz-frontend/src/views/vorschlaege/VorschlaegeIndex.vue
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationList.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/tools/Helper.ts
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/Constants.ts
  ehrenamt-justiz-frontend/src/composables/saveLeave.ts
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/composables/saveLeave.ts
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/Constants.ts
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/composables/saveLeave.ts
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/public/favicon.ico
  ehrenamt-justiz-online/eslint.config.js
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
  ehrenamt-justiz-online/public/favicon.ico
  ehrenamt-justiz-online/src/App.vue
  ehrenamt-justiz-online/src/api/EhrenamtJustizOnlineService.ts
  ehrenamt-justiz-online/src/api/FetchUtils.ts
  ehrenamt-justiz-online/src/api/error.ts
  ehrenamt-justiz-online/src/locales/de.json
  ehrenamt-justiz-online/src/plugins/i18n.ts
  ehrenamt-justiz-online/src/plugins/index.ts
  ehrenamt-justiz-online/src/plugins/vuetify.ts
  ehrenamt-justiz-online/src/views/MainView.vue
  ehrenamt-justiz-online/tsconfig.app.json
  ehrenamt-justiz-online/vite.config.ts
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/src/Constants.ts
  ehrenamt-justiz-online/src/plugins/index.ts
  ehrenamt-justiz-online/src/plugins/vuetify.ts
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

introduce i18n
  ehrenamt-justiz-online/src/plugins/vuetify.ts
Labels: Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-online/eslint.config.js
Labels: Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-online/eslint.config.js
Labels: Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-online/favicon.ico
Labels: Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-online/eslint.config.js
  ehrenamt-justiz-online/src/api/EhrenamtJustizOnlineService.ts
  ehrenamt-justiz-online/src/api/FetchUtils.ts
  ehrenamt-justiz-online/src/api/error.ts
  ehrenamt-justiz-online/src/stores/activeconfig.ts
  ehrenamt-justiz-online/src/types/KonfigurationData.ts
  ehrenamt-justiz-online/src/types/OnlineBewerbungData.ts
Labels: Ehrenamt-Justiz: Online

Revert "chore(deps): update dependency @vitejs/plugin-vue to v6"
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
  ehrenamt-justiz-online/src/api/EhrenamtJustizOnlineService.ts
  ehrenamt-justiz-online/src/types/KonfigurationData.ts
  ehrenamt-justiz-online/src/types/OnlineBewerbungData.ts
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-online/src/views/MainView.vue
Labels: Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-online/src/App.vue
  ehrenamt-justiz-online/src/views/MainView.vue
Labels: Ehrenamt-Justiz: Online

introduce i18n
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

doc for i18n
  ehrenamt-justiz-frontend/README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

spring-boot-starter-parent now 3.5.3 spring-cloud-dependencies now 2025.0.0
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/SecurityConfiguration.java
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/NoSecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/SecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/SecurityProperties.java
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

Versionen nachziehen von: "vue": "3.5.17" "@cyclonedx/cyclonedx-npm": "4.0.0"
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

removed not necessary SuppressWarnings
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/EhrenamtJustizRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/OnlineBewerbungRestController.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/RestPageImpl.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/TestConstants.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/bean/MappingBean.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/config/Konstanten.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/exception/Fehler.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/exception/InterneFehlerCodes.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/IntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

improved BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
Labels: Ehrenamt-Justiz: Frontend

improved BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
Labels: Ehrenamt-Justiz: Frontend

improved BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

improved BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
Labels: Ehrenamt-Justiz: Frontend

improved BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
Labels: Ehrenamt-Justiz: Frontend

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']
