Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Add files via upload
  docs/images/SoapUI_Mock.PNG
Labels: none

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

update dependency eslint to v9.37.0 from refarch
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-frontend/src/components/TheSnackbar.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

CodeQL: deprecated method: Use constructor instead of provider.setUserDetailsService(userDetailsService);
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/config/Configuration.java
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

From refarch: Feature: Support and enable Vue HTML5 history mode
  ehrenamt-justiz-frontend/docker/nginx/health.conf
  ehrenamt-justiz-frontend/docker/nginx/history_routing.conf
  ehrenamt-justiz-frontend/docker/nginx/sbom.conf
  ehrenamt-justiz-frontend/src/plugins/router.ts
  ehrenamt-justiz-online/docker/nginx/health.conf
  ehrenamt-justiz-online/docker/nginx/sbom.conf
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

From refarch: Feature: Support and enable Vue HTML5 history mode Problems with refresh in browser: "/api/sso/userinfo" instead of relative "api/sso/userinfo"
  ehrenamt-justiz-frontend/src/api/user-client.ts
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationEdit.vue
Labels: Ehrenamt-Justiz: Frontend

From refarch: - Disabled Spring OSIV by default - Enable preview in frontend
  ehrenamt-justiz-backend/src/main/resources/application.yml
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Frontend

Changes in code according to pmd-maven-plugin 3.28.0
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcRequest.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/AenderungsServiceRestController.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/exception/DefaultErrorProjection.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/util/CountryCode.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

from refarch: minimal node version: 22.19
  docs/package-lock.json
  docs/package.json
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: minimal node version: 22.19
  docs/package-lock.json
  docs/package.json
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

Nachname and Geburtsname max. 300 characters
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/Person.java
  ehrenamt-justiz-online/src/locales/de.json
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Online

from refarch: Remove validation from SBOM generation #1273
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: chore(stack): use quay.io for keycloak (#1270)
  stack/docker-compose.yml
Labels: none

from refarch: Upgrade patternalab asset references to new version
  ehrenamt-justiz-online/index.html
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/src/App.vue
Labels: Ehrenamt-Justiz: Online

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.4
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.4
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.4
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.4
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.4
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

i18n: improvement in api
  ehrenamt-justiz-frontend/src/api/AuthService.ts
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/tools/Helper.ts
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
Labels: Ehrenamt-Justiz: Frontend

Revert "chore(deps): update dependency eslint to v9.39.0"
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

@typescript-eslint/unified-signatures in ApiError.ts
  ehrenamt-justiz-frontend/src/api/ApiError.ts
Labels: Ehrenamt-Justiz: Frontend

@typescript-eslint/unified-signatures in ApiError.ts
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

@typescript-eslint/unified-signatures in ApiError.ts
  ehrenamt-justiz-frontend/src/api/ApiError.ts
Labels: Ehrenamt-Justiz: Frontend

@typescript-eslint/unified-signatures in ApiError.ts
  ehrenamt-justiz-frontend/src/api/ApiError.ts
Labels: Ehrenamt-Justiz: Frontend

used wrong branch: revert changes
  ehrenamt-justiz-frontend/src/api/ApiError.ts
  ehrenamt-justiz-frontend/src/api/AuthService.ts
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/tools/Helper.ts
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
Labels: Ehrenamt-Justiz: Frontend

i18n improvements in API
  ehrenamt-justiz-frontend/src/api/ApiError.ts
  ehrenamt-justiz-frontend/src/api/AuthService.ts
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/tools/Helper.ts
  ehrenamt-justiz-frontend/src/views/konfiguration/KonfigurationIndex.vue
Labels: Ehrenamt-Justiz: Frontend

i18n improvements in API
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

i18n improvements in API
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

i18n improvements in API
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

i18n improvements in API
  ehrenamt-justiz-frontend/src/tools/Helper.ts
Labels: Ehrenamt-Justiz: Frontend
