Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

Adopt from changes in refarch
  .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

- Change to actual version of findbug - programs adapted according to current findbug version
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-local.yml
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/api/EWOBuerger.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/MapstructConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/nfcconverter/NfcHelper.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/Person.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/KonfigurationDto.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/PersonDto.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/PersonenTableDatenDto.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/mapper/KonfigurationMapper.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/dto/mapper/PersonMapper.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/EhrenamtJustizRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/KonfigurationRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/PersonRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/impl/EWOServiceImpl.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/EhrenamtJustizIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/KonfigurationIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/PersonIntegrationsTest.java
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EWOBuergerApiService.ts
  ehrenamt-justiz-frontend/src/api/KonfigurationApiService.ts
  ehrenamt-justiz-frontend/src/api/PersonApiService.ts
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationList.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/stores/globalsettings.ts
  ehrenamt-justiz-frontend/src/types/EWOBuergerDaten.ts
  ehrenamt-justiz-frontend/src/types/Konfiguration.ts
  ehrenamt-justiz-frontend/src/types/Person.ts
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerSelect.vue
  ehrenamt-justiz-online/src/App.vue
  ehrenamt-justiz-online/src/api/EhrenamtJustizOnlineService.ts
  ehrenamt-justiz-online/src/stores/activeconfig.ts
  ehrenamt-justiz-online/src/types/Konfiguration.ts
  ehrenamt-justiz-online/src/types/OnlineBewerbungDaten.ts
  ehrenamt-justiz-online/src/views/MainView.vue
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

- Change to actual version of findbug - programs adapted according to current findbug version
  ehrenamt-justiz-frontend/src/types/EWOBuergerData.ts
  ehrenamt-justiz-frontend/src/types/KonfigurationData.ts
  ehrenamt-justiz-frontend/src/types/PersonData.ts
  ehrenamt-justiz-online/src/types/KonfigurationData.ts
  ehrenamt-justiz-online/src/types/OnlineBewerbungData.ts
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

- Change to actual version of findbug - programs adapted according to current findbug version
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

- Change to actual version of findbug - programs adapted according to current findbug version
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/KonfigurationRestController.java
Labels: Ehrenamt-Justiz: Backend

- Change to actual version of findbug - programs adapted according to current findbug version
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/EhrenamtJustizRestController.java
Labels: Ehrenamt-Justiz: Backend

Test of Aenderungsservice in Docker-Desktop
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Aenderungsservice

Test of Aenderungsservice in Docker-Desktop
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
Labels: Ehrenamt-Justiz: Aenderungsservice

Test of Aenderungsservice in Docker-Desktop
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
Labels: Ehrenamt-Justiz: Aenderungsservice

Test of Aenderungsservice in Docker-Desktop
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
Labels: Ehrenamt-Justiz: Aenderungsservice

Delete docs/images/SystemOverviewEnglish.PNG
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Add files via upload
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Delete docs/images/SystemOverviewEnglish.PNG
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Add files via upload
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Delete docs/images/SystemOverviewEnglish.PNG
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Add files via upload
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Delete docs/images/SystemOverviewEnglish.PNG
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Add files via upload
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Delete docs/images/SystemOverviewEnglish.PNG
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Add files via upload
  docs/images/SystemOverviewEnglish.PNG
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Delete docs/images/DockerDesktopEhrenamtjustiz.PNG
  docs/images/DockerDesktopEhrenamtjustiz.PNG
Labels: none

Add files via upload
  docs/images/DockerDesktopEhrenamtjustiz.PNG
Labels: none

Update README.md
  .github/README.md
Labels: none

error handling in change service
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/AenderungsService.java
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
  ehrenamt-justiz-aenderungsservice/src/main/resources/application.yml
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/AenderungsServiceTest.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/AenderungsServiceRestController.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/common/NotFoundException.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/AenderungsServiceRestController.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/AenderungsService.java
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/AenderungsServiceTest.java
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/api/EWOBuerger.java
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/exception/AenderungsServiceException.java
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/exception/ErrorResponse.java
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/exception/GlobalExceptionHandler.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/AenderungsServiceRestController.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/EWOService.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/EhrenamtJustizService.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/impl/EWOServiceImpl.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/impl/EhrenamtJustizServiceImpl.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  .github/workflows/api-release.yml
Labels: none

error handling in change service
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/api/EWOBuerger.java
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/exception/AenderungsServiceException.java
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/exception/ErrorResponse.java
Labels: none

error handling in change service
  .github/workflows/api-release.yml
Labels: none

error handling in change service
  .github/workflows/api-release.yml
Labels: none

error handling in change service
  .github/workflows/api-release.yml
Labels: none

error handling in change service
  .github/workflows/api-release.yml
Labels: none

error handling in change service
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/api/BuergerSucheAnfrage.java
Labels: none

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-api/pom.xml
Labels: none

[maven-release-plugin] prepare release ehrenamt-justiz-api-0.0.3
  ehrenamt-justiz-api/pom.xml
Labels: none

error handling in change service
  .github/workflows/api-release.yml
Labels: none
