Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

from refarch: chore(deps): update dependency vite to v8 #1455
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: chore(deps): update dependency vite to v8 #1455
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: chore(deps): update dependency vite to v8 #1455
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: chore(deps): update dependency vite to v8 #1455
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

from refarch: chore(deps): update dependency vite to v8 #1455
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

from refarch: chore(deps): update dependency vite to v8 #1455
  ehrenamt-justiz-frontend/eslint.config.js
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/common/ListItemActions.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/online-help/OnlineHelpDialogComponent.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergerselect.vue
  ehrenamt-justiz-online/eslint.config.js
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/eslint.config.js
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergerselect.vue
  ehrenamt-justiz-online/eslint.config.js
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/eslint.config.js
  ehrenamt-justiz-frontend/src/components/common/ListItemActions.vue
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konfliktloesenedit/[id].vue
  ehrenamt-justiz-online/eslint.config.js
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konfliktloesenedit/[id].vue
Labels: Ehrenamt-Justiz: Frontend

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/src/locales/de.json
Labels: Ehrenamt-Justiz: Frontend

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: adjusted eslint config #1504
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: m spring cloud and apache commons #1519
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/CacheControlFilter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcHelper.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcReader.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcRequest.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcServletInputStream.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcConverterTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

from refarch: wapped to new refarch-pmd dependency #1520
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-api/pom.xml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

from refarch: fix(backend): permissions uri property only required if permissions used #1522
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/SecurityProperties.java
Labels: Ehrenamt-Justiz: Backend

from refarch: changed backend port from 39146 to 8086 #1506
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-local.yml
  ehrenamt-justiz-aenderungsservice/src/test/resources/application-test.yml
  ehrenamt-justiz-backend/README.md
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/resources/application-docker.yml
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  stack/README.md
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

from refarch: Removed some workflow permissions #1523
  .github/workflows/release-maven.yml
  .github/workflows/release-npm.yml
Labels: none

from refarch: Remove Spring Cloud build info and banner information #1528
  ehrenamt-justiz-aenderungsservice/src/main/resources/application.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/banner.txt
  ehrenamt-justiz-backend/src/main/resources/application.yml
  ehrenamt-justiz-backend/src/main/resources/banner.txt
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

from refarch: Add missing permission for dependency review action #1530
  .github/workflows/dependency-review.yml
Labels: none

from refarch: chore(deps): update registry.access.redhat.com/ubi9/openjdk-21-runtime docker tag to v1.24-2.1776357028 #1534
  ehrenamt-justiz-aenderungsservice/Dockerfile
  ehrenamt-justiz-backend/Dockerfile
  ehrenamt-justiz-eai/Dockerfile
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

from refarch: Maintenance: Replace classes with interfaces #1527 Remove .ts in imports
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/ApiError.ts
  ehrenamt-justiz-frontend/src/api/AuthService.ts
  ehrenamt-justiz-frontend/src/api/EWOBuergerApiService.ts
  ehrenamt-justiz-frontend/src/api/EntityApiService.ts
  ehrenamt-justiz-frontend/src/api/FetchUtils.ts
  ehrenamt-justiz-frontend/src/api/ad2image-avatar-client.ts
  ehrenamt-justiz-frontend/src/api/appinfo-client.ts
  ehrenamt-justiz-frontend/src/api/healthstate-client.ts
  ehrenamt-justiz-frontend/src/api/info-client.ts
  ehrenamt-justiz-frontend/src/api/userinfo-client.ts
  ehrenamt-justiz-frontend/src/components/TheAppBar.vue
  ehrenamt-justiz-frontend/src/components/TheNavigationDrawer.vue
  ehrenamt-justiz-frontend/src/components/TheSnackbarQueue.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungForm.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/ewobuerger/EWOBuergerForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationList.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergercreate.vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergerselect.vue
  ehrenamt-justiz-frontend/src/routes/getstarted.vue
  ehrenamt-justiz-frontend/src/routes/index.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationcreate.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konfliktloesenedit/[id].vue
  ehrenamt-justiz-frontend/src/routes/vorschlaege/invalidepersonenselect.vue
  ehrenamt-justiz-frontend/src/stores/user.ts
  ehrenamt-justiz-frontend/src/stores/userinfo.ts
  ehrenamt-justiz-frontend/src/types/AppInfo.ts
  ehrenamt-justiz-frontend/src/types/HealthState.ts
  ehrenamt-justiz-frontend/src/types/User.ts
  ehrenamt-justiz-frontend/src/types/UserInfo.ts
Labels: Ehrenamt-Justiz: Frontend

from refarch: Maintenance: Replace classes with interfaces #1527 Remove .ts in imports
  ehrenamt-justiz-frontend/src/api/HealthService.ts
  ehrenamt-justiz-frontend/src/api/appinfo-client.ts
  ehrenamt-justiz-frontend/src/api/healthstate-client.ts
  ehrenamt-justiz-frontend/src/types/AppInfo.ts
Labels: Ehrenamt-Justiz: Frontend

npm i
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

npm i
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

npm i
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Online

coderabbitai proposals implemented
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/AuthService.ts
Labels: Ehrenamt-Justiz: Frontend

npx prettier
  ehrenamt-justiz-frontend/src/App.vue
Labels: Ehrenamt-Justiz: Frontend
