Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

error handling in change service
  ehrenamt-justiz-api/pom.xml
Labels: none

[maven-release-plugin] prepare release ehrenamt-justiz-api-0.0.4
  ehrenamt-justiz-api/pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-api/pom.xml
Labels: none

error handling in change service
  .github/workflows/api-release.yml
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-local.yml
  ehrenamt-justiz-api/pom.xml
  ehrenamt-justiz-api/src/main/java/de/muenchen/ehrenamtjustiz/api/BuergerSucheAnfrage.java
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
  ehrenamt-justiz-aenderungsservice/src/main/resources/application.yml
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/AenderungsServiceTest.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/impl/EWOServiceImpl.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/service/impl/EWOServiceImpl.java
Labels: Ehrenamt-Justiz: Backend

error handling in change service
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
Labels: Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
Labels: Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
Labels: Ehrenamt-Justiz: Aenderungsservice

error handling in change service
  ehrenamt-justiz-aenderungsservice/src/main/java/de/muenchen/ehrenamtjustiz/aenderungsservice/service/config/Configs.java
Labels: Ehrenamt-Justiz: Aenderungsservice

Update application-docker.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
Labels: Ehrenamt-Justiz: Aenderungsservice

change service in docker: group-id set by docker-compose.yml
  ehrenamt-justiz-aenderungsservice/src/main/resources/application-docker.yml
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  .github/README.md
Labels: none

Create README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Add files via upload
  docs/images/EJ_KonflikteBearbeiten.PNG
Labels: none

Delete docs/images/EJ_KonflikteBearbeiten.PNG
  docs/images/EJ_KonflikteBearbeiten.PNG
Labels: none

Add files via upload
  docs/images/KonflikteBearbeiten.PNG
Labels: none

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

- Update maven-release.yml #1012 - EAI: spring-boot-starter-parent: 3.4.5
  .github/workflows/maven-release.yml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

enums (ehrenamtjustizart, geschlecht, status und wohnungsstatus) in UI and in csv convert to readable strings
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Ehrenamtjustizart.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Geschlecht.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Status.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Wohnungsstatus.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/rest/controller/PersonRestController.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/PersonIntegrationsTest.java
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-online/index.html
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

enums (ehrenamtjustizart, geschlecht, status und wohnungsstatus) in UI and in csv convert to readable strings
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/EnumTest.java
Labels: Ehrenamt-Justiz: Backend

enums (ehrenamtjustizart, geschlecht, status und wohnungsstatus) in UI and in csv convert to readable strings
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Ehrenamtjustizart.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Geschlecht.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Status.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/domain/enums/Wohnungsstatus.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/EnumTest.java
  ehrenamt-justiz-eai/src/main/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/bean/MappingBean.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

enums (ehrenamtjustizart, geschlecht, status und wohnungsstatus) in UI and in csv convert to readable strings
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/EnumTest.java
Labels: Ehrenamt-Justiz: Backend

Online: router entfernt
  ehrenamt-justiz-online/.env
  ehrenamt-justiz-online/.env.development
  ehrenamt-justiz-online/.env.production
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
  ehrenamt-justiz-online/src/Constants.ts
  ehrenamt-justiz-online/src/plugins/index.ts
  ehrenamt-justiz-online/src/router/index.ts
Labels: Ehrenamt-Justiz: Online

set build.outDir in vite.config.ts
  ehrenamt-justiz-online/vite.config.ts
Labels: Ehrenamt-Justiz: Online

set build.outDir in vite.config.ts
  ehrenamt-justiz-online/vite.config.ts
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/default.conf
  ehrenamt-justiz-online/vite.config.ts
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/default.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/default.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/default.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/Dockerfile
  ehrenamt-justiz-online/docker/nginx/default.conf
Labels: Ehrenamt-Justiz: Online

add default.conf con nginx: look at /opt/app-root/src/public/online for index.html and not in /opt/app-root/src
  ehrenamt-justiz-online/docker/nginx/default.conf
Labels: Ehrenamt-Justiz: Online
