Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

from RefArch: Re-enabled noUncheckedIndexedAccess as its no longer part of base config
  ehrenamt-justiz-frontend/tsconfig.app.json
  ehrenamt-justiz-online/tsconfig.app.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from RefArch: Re-enabled noUncheckedIndexedAccess as its no longer part of base config
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: Re-enabled noUncheckedIndexedAccess as its no longer part of base config
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: Re-enabled noUncheckedIndexedAccess as its no longer part of base config
  ehrenamt-justiz-frontend/src/views/ewobuerger/EWOBuergerCreate.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: Trivy security scan
  .github/workflows/trivy.yml
  .trivyignore
Labels: none

from RefArch: archunit with predefined rules
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/AenderungsServiceTest.java
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/archunit/ArchUnitTest.java
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/archunit/rules/Rules.java
  ehrenamt-justiz-aenderungsservice/src/test/java/de/muenchen/ehrenamtjustiz/aenderungsservice/archunit/rules/TestClassesEndWithTestCondition.java
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/EnumTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/archunit/ArchUnitTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/archunit/rules/Rules.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/archunit/rules/TestClassesEndWithTestCondition.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/CacheControlFilterTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/UnicodeFilterConfigurationTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcConverterTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcHelperTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakRolesAuthoritiesConverterTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/EhrenamtJustizIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/KonfigurationIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/PersonIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EWOServiceTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/service/EhrenamtJustizServiceTest.java
  ehrenamt-justiz-eai/pom.xml
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/FehlerWrapperTest.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/IntegrationsTest.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/archunit/ArchUnitTest.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/archunit/rules/Rules.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/archunit/rules/TestClassesEndWithTestCondition.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/bean/MappingBeanTest.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/exception/FehlerWrapperTest.java
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

Delete .github/workflows/trivy.yml
  .github/workflows/trivy.yml
Labels: none

Delete .trivyignore
  .trivyignore
Labels: none

from RefArch: archunit with predefined rules
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from RefArch: archunit with predefined rules
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/domain/KonfigurationTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/domain/PersonTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/AenderungsServiceIntegrationsTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/integration/KonfigurationIntegrationsTest.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/FehlerWrapperTest.java
  ehrenamt-justiz-eai/src/test/java/de/muenchen/ehrenamtjustiz/eai/personeninfo/IntegrationsTest.java
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

from RefArch: file base routing
  .gitignore
  ehrenamt-justiz-frontend/.prettierignore
  ehrenamt-justiz-frontend/encode-brackets-plugin.ts
  ehrenamt-justiz-frontend/eslint.config.js
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/src/Constants.ts
  ehrenamt-justiz-frontend/src/components/TheNavigationDrawer.vue
  ehrenamt-justiz-frontend/src/components/bewerbungen/BewerbungenTable.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationForm.vue
  ehrenamt-justiz-frontend/src/components/konfiguration/KonfigurationListItem.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteLoesenForm.vue
  ehrenamt-justiz-frontend/src/components/konflikte/KonflikteTable.vue
  ehrenamt-justiz-frontend/src/components/vorschlaege/VorschlaegeTable.vue
  ehrenamt-justiz-frontend/src/locales/de.json
  ehrenamt-justiz-frontend/src/plugins/router.ts
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungenindex.vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergercreate.vue
  ehrenamt-justiz-frontend/src/routes/ewobuerger/ewobuergerselect.vue
  ehrenamt-justiz-frontend/src/routes/getstarted.vue
  ehrenamt-justiz-frontend/src/routes/index.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationcreate.vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationindex.vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konflikteindex.vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konfliktloesenedit/[id].vue
  ehrenamt-justiz-frontend/src/routes/vorschlaege/invalidepersonenselect.vue
  ehrenamt-justiz-frontend/src/routes/vorschlaege/vorschlaegeindex.vue
  ehrenamt-justiz-frontend/tsconfig.app.json
  ehrenamt-justiz-frontend/tsconfig.node.json
  ehrenamt-justiz-frontend/vite.config.ts
Labels: Ehrenamt-Justiz: Frontend

from RefArch: file base routing
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

from RefArch: file base routing
  ehrenamt-justiz-frontend/package-lock.json
Labels: Ehrenamt-Justiz: Frontend

from RefArch: file base routing
  ehrenamt-justiz-frontend/eslint.config.js
Labels: Ehrenamt-Justiz: Frontend

from RefArch: file base routing
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: file base routing
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: file base routing
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: file base routing
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konfliktloesenedit/[id].vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: coderabbitai improvements
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konfiguration/konfigurationindex.vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: remove unused params for "/bewerbungen/bewerbungenindex
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
  ehrenamt-justiz-frontend/src/routes/konflikte/konfliktloesenedit/[id].vue
Labels: Ehrenamt-Justiz: Frontend

from RefArch: isLoading: reset in finally-block
  ehrenamt-justiz-frontend/src/routes/bewerbungen/bewerbungedit/[id][action].vue
Labels: Ehrenamt-Justiz: Frontend

TheNavigationDrawer.vue: use the route name object syntax
  ehrenamt-justiz-frontend/src/components/TheNavigationDrawer.vue
Labels: Ehrenamt-Justiz: Frontend

From Refarch: @muenchen/muc-patternlab-vue to v8
  ehrenamt-justiz-online/index.html
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/src/App.vue
Labels: Ehrenamt-Justiz: Online

Add disabled to muc-card
  ehrenamt-justiz-online/src/views/MainView.vue
Labels: Ehrenamt-Justiz: Online

Add disabled to muc-card
  ehrenamt-justiz-online/src/views/MainView.vue
Labels: Ehrenamt-Justiz: Online

Create publiccode.yml
  publiccode.yml
Labels: none

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.9
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.9
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.9
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.9
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.9
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

Apply suggestion from @coderabbitai[bot]
  publiccode.yml
Labels: none

version acc https://github.com/it-at-m/ehrenamt-justiz/releases
  publiccode.yml
Labels: none

From Refarch: Simplified naming, added comments and permissions #1490
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-maven.yml
  .github/workflows/release-npm.yml
Labels: none

from refarch: chore(deps): update dependency unplugin-fonts to v2 #1502
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-frontend/vite.config.ts
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
  ehrenamt-justiz-online/vite.config.ts
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: chore(deps): update dependency unplugin-fonts to v2 #1502
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

from refarch: chore(deps): update dependency unplugin-fonts to v2 #1502
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']
