Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

Update README.md
  stack/README.md
Labels: none

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

Update README.md
  ehrenamt-justiz-api/README.md
Labels: none

call npx prettier
  ehrenamt-justiz-frontend/README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

Update README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Update README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

call npx prettier
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Add files via upload
  docs/images/pgadmin.PNG
Labels: none

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

openApi Documentation
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/OpenAPIDocumentationConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/OpenAPIProperties.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/SecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  ehrenamt-justiz-backend/src/main/resources/application.yml
Labels: Ehrenamt-Justiz: Backend

openApi Documentation
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/OpenAPIProperties.java
Labels: Ehrenamt-Justiz: Backend

Add files via upload
  docs/images/ApiDocs_Backend.PNG
  docs/images/Swagger_Backend.PNG
Labels: none

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

migrate to podman
  ehrenamt-justiz-backend/src/main/resources/application-docker.yml
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Backend

keycloak-roles-authorities
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/JwtUserInfoAuthenticationConverter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/CacheControlFilterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/ForwardedHeaderFilterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/RequestResponseLoggingFilter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/UnicodeFilterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcHelper.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcReader.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcRequest.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcRequestFilter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcServletInputStream.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/AuthoritiesConverterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakRolesAuthoritiesConverter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/NoSecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/SecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/SecurityProperties.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/UserInfoAuthoritiesConverter.java
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/CacheControlFilterConfigurationTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/UnicodeFilterConfigurationTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcConverterTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/filter/nfcconverter/NfcHelperTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakRolesAuthoritiesConverterTest.java
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/UserInfoAuthoritiesConverterTest.java
  ehrenamt-justiz-backend/src/test/resources/application-test.yml
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Backend

keycloak-roles-authorities
  ehrenamt-justiz-backend/src/main/resources/application-docker.yml
Labels: Ehrenamt-Justiz: Backend

keycloak-roles-authorities: set profile 'userinfo-authorities' to use authorities and not roles!
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  stack/docker-compose.yml
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  stack/README.md
Labels: none

Update README.md
  stack/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Add files via upload
  docs/images/PodmanDesktopEhrenamtjustiz.png
Labels: none

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

keycloak-roles-authorities: set profile 'userinfo-authorities' to use authorities and not roles!
  ehrenamt-justiz-backend/runLocal.bat
  ehrenamt-justiz-backend/runLocal.sh
Labels: Ehrenamt-Justiz: Backend

Update README.md
  .github/README.md
Labels: none

Update README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI
