Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

i18n improvements in API
  ehrenamt-justiz-frontend/src/api/ApiError.ts
Labels: Ehrenamt-Justiz: Frontend

[maven-release-plugin] prepare release ehrenamt-justiz-api-0.0.5
  ehrenamt-justiz-api/pom.xml
Labels: none

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-api/pom.xml
Labels: none

Release 0.0.5
  ehrenamt-justiz-aenderungsservice/pom.xml
  ehrenamt-justiz-api/pom.xml
  ehrenamt-justiz-backend/pom.xml
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Aenderungsservice

Nachziehen aus RefArch: chore(docs): add VitePress base path for GitHub pages (#1312)
  docs/.vitepress/config.mts
Labels: none

Nachziehen aus RefArch: chore(docs): add VitePress base path for GitHub pages (#1312)
  docs/.vitepress/config.mts
Labels: none

Nachziehen aus RefArch: chore(docs): add VitePress base path for GitHub pages (#1312)
  docs/.vitepress/config.mts
Labels: none

run npx prettier --write .
  ehrenamt-justiz-online/src/components/LogoLHM.vue
  ehrenamt-justiz-online/src/components/MuenchenBanner.vue
Labels: Ehrenamt-Justiz: Online

New adress to EWO
  ehrenamt-justiz-eai/src/main/resources/application-docker.yml
  ehrenamt-justiz-eai/src/main/resources/application-env-local.yml
Labels: Ehrenamt-Justiz: EAI

New adress to EWO
  stack/docker-compose.yml
Labels: none

New adress to EWO
  stack/docker-compose.yml
Labels: none

New adress to EWO
  ehrenamt-justiz-eai/src/main/resources/application-docker.yml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.5
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.5
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.5
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.5
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.5
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

Add missing dependency: "prettier": "3.8.1"
  docs/package.json
Labels: none

from refarch: ci: use pr for maven and npm release
  .github/workflows/actionlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/dockercompose-healthcheck.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .github/workflows/npm-release.yml
Labels: none

Enabled caching for ESLint execution#1381
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

From refarch: "jsdom": "27.4.0",
  ehrenamt-justiz-frontend/package.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

From refarch: "jsdom": "27.4.0",
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-online/package-lock.json
Labels: Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online

update dependency org.apache.commons:commons-text to v1.15.0
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-backend-0.0.6
  ehrenamt-justiz-backend/pom.xml
Labels: Ehrenamt-Justiz: Backend

[maven-release-plugin] prepare release ehrenamt-justiz-eai-0.0.6
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-eai/pom.xml
Labels: Ehrenamt-Justiz: EAI

[maven-release-plugin] prepare release ehrenamt-justiz-aenderungsservice-0.0.6
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

[maven-release-plugin] prepare for next development iteration
  ehrenamt-justiz-aenderungsservice/pom.xml
Labels: Ehrenamt-Justiz: Aenderungsservice

chore(ehrenamt-justiz-frontend): bump version to v0.0.6
  ehrenamt-justiz-frontend/package-lock.json
  ehrenamt-justiz-frontend/package.json
Labels: Ehrenamt-Justiz: Frontend

chore(ehrenamt-justiz-online): bump version to v0.0.6
  ehrenamt-justiz-online/package-lock.json
  ehrenamt-justiz-online/package.json
Labels: Ehrenamt-Justiz: Online

From RefArch: Bug: Fixed debugging capabilities via JMX/RMI#1394
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  ehrenamt-justiz-eai/src/main/resources/application-env-local.yml
Labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI

From RefArch: Fix(deps): update dependency @muenchen/muc-patternlab-vue to v7#1390
  ehrenamt-justiz-online/index.html
  ehrenamt-justiz-online/src/App.vue
Labels: Ehrenamt-Justiz: Online

From RefArch: Fix(deps): update dependency @muenchen/muc-patternlab-vue to v7#1390
  ehrenamt-justiz-online/src/App.vue
  ehrenamt-justiz-online/src/views/MainView.vue
Labels: Ehrenamt-Justiz: Online

From RefArch: feat(backend): keycloak permissions authorities#1158
  .gitignore
  ehrenamt-justiz-backend/README.md
  ehrenamt-justiz-backend/runLocal.bat
  ehrenamt-justiz-backend/runLocal.sh
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/AuthoritiesConverterConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakPermissionsAuthoritiesConverter.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/SecurityConfiguration.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/SecurityProperties.java
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/UserInfoAuthoritiesConverter.java
  ehrenamt-justiz-backend/src/main/resources/application-docker.yml
  ehrenamt-justiz-backend/src/main/resources/application-local.yml
  ehrenamt-justiz-backend/src/test/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/KeycloakPermissionsAuthoritiesConverterTest.java
  ehrenamt-justiz-backend/src/test/resources/application-test.yml
Labels: Ehrenamt-Justiz: Backend

From RefArch: feat(backend): keycloak permissions authorities#1158
  ehrenamt-justiz-backend/runLocalNoSecurity.bat
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/AuthoritiesConverterConfiguration.java
Labels: Ehrenamt-Justiz: Backend

From RefArch: feat(backend): keycloak permissions authorities#1158
  ehrenamt-justiz-backend/src/main/java/de/muenchen/ehrenamtjustiz/backend/configuration/security/AuthoritiesConverterConfiguration.java
Labels: Ehrenamt-Justiz: Backend
