Repository it-at-m/ehrenamt-justiz, changes with the labels that .github/labeler.yml gives for each.
All labels: Ehrenamt-Justiz: Backend, Ehrenamt-Justiz: EAI, Ehrenamt-Justiz: Frontend, Ehrenamt-Justiz: Online, Ehrenamt-Justiz: Aenderungsservice

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Ehrenamt-Justiz: Backend":
  - changed-files:
    - any-glob-to-any-file: ['ehrenamt-justiz-backend/**']
"Ehrenamt-Justiz: EAI":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-eai/**']
"Ehrenamt-Justiz: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-frontend/**']
"Ehrenamt-Justiz: Online":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-online/**']
"Ehrenamt-Justiz: Aenderungsservice":
  - changed-files:
      - any-glob-to-any-file: ['ehrenamt-justiz-aenderungsservice/**']

Create README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Update README.md
  .github/README.md
Labels: none

Update README.md
  .github/README.md
Labels: none

program correction: duplicate authorization removed
  stack/keycloak/migration/permissions/example_authorization.json
Labels: none

trace docs from template
  docs/contribute.md
  docs/develop.md
  docs/document.md
  docs/example.md
  docs/getting-started.md
  docs/index.md
  docs/organize.md
Labels: none

trace docs from template
  docs/example.md
  docs/index.md
Labels: none

trace docs from template
  docs/index.md
Labels: none

Update README.md
  .github/README.md
Labels: none

Add files via upload
  docs/images/DB_ER_Model.png
Labels: none

Create README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-backend/README.md
Labels: Ehrenamt-Justiz: Backend

Update README.md
  ehrenamt-justiz-eai/README.md
Labels: Ehrenamt-Justiz: EAI

Add files via upload
  docs/images/EJ_01_Willkommen.PNG
Labels: none

Add files via upload
  docs/images/EJ_02_GetStarted.PNG
  docs/images/EJ_03_BewerbungErstellen.PNG
  docs/images/EJ_04_BewerbungErstellenAuswahlPerson.PNG
  docs/images/EJ_05_BewerbungBearbeitenAusEWO.PNG
  docs/images/EJ_06_BewerbungBearbeitenZusatzangaben.PNG
  docs/images/EJ_07_BewerbungenUebersicht.PNG
  docs/images/EJ_08_KonflikteUebersicht.PNG
  docs/images/EJ_09_KonflikteLoesen.PNG
  docs/images/EJ_10_VorschlaegeUebersicht.PNG
  docs/images/EJ_11_VorschlagslisteCSV.PNG
  docs/images/EJ_11_VorschlagslisteSpeichern.PNG
  docs/images/EJ_21_KonfigurationBearbeiten.PNG
  docs/images/EJ_22_KonfigurationUebersicht.PNG
Labels: none

Create README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Rename EJ_11_VorschlagslisteSpeichern.PNG to EJ_12_VorschlagslisteSpeichern.PNG
  docs/images/EJ_12_VorschlagslisteSpeichern.PNG
Labels: none

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Add files via upload
  docs/images/EJ_13_AlsBenachrichtigtMarkieren.PNG
Labels: none

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Frontend: honorary justice in plain language
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/tools/Helper.ts
Labels: Ehrenamt-Justiz: Frontend

Frontend: honorary justice in plain language
  ehrenamt-justiz-frontend/src/tools/Helper.ts
Labels: Ehrenamt-Justiz: Frontend

Frontend: honorary justice in plain language
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
Labels: Ehrenamt-Justiz: Frontend

Frontend: honorary justice in plain language
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
Labels: Ehrenamt-Justiz: Frontend

Frontend: honorary justice in plain language
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/tools/Helper.ts
Labels: Ehrenamt-Justiz: Frontend

Frontend: honorary justice in plain language
  ehrenamt-justiz-frontend/src/App.vue
  ehrenamt-justiz-frontend/src/api/EhrenamtJustizService.ts
  ehrenamt-justiz-frontend/src/tools/Helper.ts
Labels: Ehrenamt-Justiz: Frontend

Frontend: honorary justice in plain language
  ehrenamt-justiz-frontend/src/tools/Helper.ts
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend

Update README.md
  ehrenamt-justiz-online/README.md
Labels: Ehrenamt-Justiz: Online

Update README.md
  ehrenamt-justiz-aenderungsservice/README.md
Labels: Ehrenamt-Justiz: Aenderungsservice

Frontend: link to call frontend in browser
  ehrenamt-justiz-frontend/README.md
Labels: Ehrenamt-Justiz: Frontend
